APP_ID=<YOUR_APP_ID>
DISCORD_TOKEN=<YOUR_BOT_TOKEN>
PUBLIC_KEY=<YOUR_PUBLIC_KEY>

APP_ID_B=<YOUR_APP_ID>
DISCORD_TOKEN_B=<YOUR_BOT_TOKEN>
PUBLIC_KEY_B=<YOUR_PUBLIC_KEY>

RECEIVER_APP_ID=<YOUR_APP_ID>
RECEIVER_DISCORD_TOKEN=<YOUR_BOT_TOKEN>
RECEIVER_PUBLIC_KEY=<YOUR_PUBLIC_KEY>

RECEIVER_APP_ID_2=<YOUR_APP_ID>
RECEIVER_DISCORD_TOKEN_2=<YOUR_BOT_TOKEN>
RECEIVER_PUBLIC_KEY_2=<YOUR_PUBLIC_KEY>

# Optional (sorry, their names are a little messy):

# App A
PORT=<PORT_NUMBER>
# App B
RECEIVER_PORT=<PORT_NUMBER>
# App C
PORT_B=<PORT_NUMBER>
# App D
RECEIVER_PORT_2=<PORT_NUMBER>

# Audio Relay Socket (App B)
AUDIO_RELAY_PORT_B=<PORT_NUMBER>

# Audio Relay Socket (App D)
AUDIO_RELAY_PORT_D=<PORT_NUMBER>
